/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --bg-color: #2b2b2b;
    --bg-secondary: #1d1d1d;
    --text-primary: #ffffff;
    --text-secondary: #b0ffc8;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    color: var(--text-primary);
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // margin-left: 4rem;
    // margin-right: 4rem;
}

h1 {
    font-size: 4rem;
    margin-top: -8rem;
}

.userslist-container {
  display: flex;
  // border: 1px solid red;
  padding: 2rem;
}

.input-box {
  padding-right: 2rem;
  // border: 1px solid blue;
}

.user-list {
  // border: 1px solid greenyellow;
}

.username {
  position: relative;
  // border: 1px solid rgb(0, 255, 251);
  padding: 1rem;
}

.btn {
  background-color: #00b7ff;
  border: none;
  color: white;
  cursor: pointer;
  // display: block;
  font-family: inherit;
  // font-size: 1.1rem;
  // width: 100%;
  padding: 0.15rem;
}

.btn:hover {
  background-color: #008fc7;
}

.btn:focus {
  background-color: #008fc7;
  outline: none;
}
