<div class="userslist-container">
  <!-- input field -->
  <div class="input-box">
    <input
      type="text"
      (change)="setNewUserName($any($event).target.value)"
      [value]="newUserName"
    />
    <button class="btn" (click)="addUser()">Add User</button>
  </div>

  <!-- list of users -->
  <div class="user-list">
    <h3>Users</h3>
    <div *ngFor="let user of users">

      <div class="username">
        {{ user.name }}
        <!-- attach event -->
        <button class="btn">
          <span (click)="removeUser.emit(user.id)"> Remove </span>
        </button>
      </div>
    </div>
  </div>
</div>
